.flex {
  /* display flex: um elemento do lado do outro
  flex-wrap wrap: escrevendo wrap no flex wrap define se deve quebrar em nova linha ou não, quando a tela diminui 
  place-content: é a união do justify e align
  100vh: height tem 100% da altura da tela
  */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;  
}

body {
  margin: 0px;
}

h2 {
  /* flex 1: união do flex grow = 1, flex shrink = 1 e flex basis = 0% 
  com o flex ativo não tem como justificar porque não sobra espaço em branco*/
  background: #e7e7e7;
  border: 1px solid #d7d7d7;
  padding: 20px;
  margin: 8px;
  flex: 1;
}