img {
  max-width: 100%;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.cover img {
  height: 100%;
  object-fit: cover; /* expandir imagem na coluna 1 para o mesmo tamanho da coluna 2 sem esticar e distorcer*/
  object-position: top left; /* cortar imagem ao diminuir tela*/
}

p {
  font-size: 1.5rem;
}
